<script>
  const subtract = document.getElementById(`btn-children-subtract`);
  const add = document.getElementById("btn-children-add");

  subtract.addEventListener("click", () => {
    const input = document.getElementById("print-children-value");
    let value = Number(input.getAttribute("value"));

    if (value > 0) {
      value--;
      input.setAttribute("value", `${value}`);
    }
  });

  add.addEventListener("click", () => {
    const input = document.getElementById("print-children-value");
    let value = Number(input.getAttribute("value"));

    value++;
    input.setAttribute("value", `${value}`);
  });
</script>

<div>
  <p class="text-md font-semibold">Children</p>
  <p class="text-gray-400 mb-3">Ages 2 - 12</p>
  <div class="flex gap-2">
    <button
      id="btn-children-subtract"
      class="w-8 border border-zinc-500 rounded-md flex justify-center items-center"
    >
      <i class="ri-subtract-line"></i></button
    >
    <input
      class="w-5 text-center outline-none"
      disabled
      id="print-children-value"
      value={0}
    />
    <button
      id="btn-children-add"
      class="w-8 border border-zinc-500 rounded-md flex justify-center items-center"
    >
      <i class="ri-add-line"></i>
    </button>
  </div>
</div>
